In [2]:
%pip install utils

Collecting utils
  Downloading https://files.pythonhosted.org/packages/55/e6/c2d2b2703e7debc8b501caae0e6f7ead148fd0faa3c8131292a599930029/utils-1.0.1-py2.py3-none-any.whl
Installing collected packages: utils
Successfully installed utils-1.0.1

In [3]:
import os
import IPython.display as ipd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as skl
import sklearn.utils, sklearn.preprocessing, sklearn.decomposition, sklearn.svm
import librosa
import librosa.display
import utils

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
from google.colab import drive 
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [5]:
#Load metadata and features

tracks = pd.read_csv('/content/gdrive/My Drive/APS360/fma_metadata/tracks.csv')
genres = pd.read_csv('/content/gdrive/My Drive/APS360/fma_metadata/genres.csv')
features = pd.read_csv('/content/gdrive/My Drive/APS360/fma_metadata/features.csv')
echonest = pd.read_csv('/content/gdrive/My Drive/APS360/fma_metadata/echonest.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,5,6,8,12,18,20,21,22,24,33,34,38,39,44,47,49) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,11,13,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
#Confirm arrays are the right size 
np.testing.assert_array_equal(features.index,tracks.index)
assert echonest.index.isin(tracks.index).all()

In [7]:
#Print shapes
tracks.shape, genres.shape, features.shape, echonest.shape

((106576, 53), (163, 5), (106576, 519), (13132, 250))

In [8]:
#Display first 3 rows  
print(tracks[:3])

  Unnamed: 0     album              album.1  ...   track.17 track.18 track.19
0        NaN  comments         date_created  ...  publisher     tags    title
1   track_id       NaN                  NaN  ...        NaN      NaN      NaN
2          2         0  2008-11-26 01:44:45  ...        NaN       []     Food

[3 rows x 53 columns]

In [9]:
#Select small subset
small = tracks[tracks['set.1'] == 'small']
small.shape

(8000, 53)

In [10]:
print('{} top-level genres'.format(len(genres['top_level'].unique())))
genres.reindex(genres['top_level'].unique()).sort_values('#tracks',ascending=False)

16 top-level genres

      genre_id  #tracks  parent           title  top_level
14        15.0  34413.0     0.0      Electronic       15.0
9         10.0  13845.0     0.0             Pop       10.0
20        21.0   8389.0     0.0         Hip-Hop       21.0
17        18.0   5913.0  1235.0      Soundtrack     1235.0
3          4.0   4126.0     0.0            Jazz        4.0
4          5.0   4106.0     0.0       Classical        5.0
8          9.0   1987.0     0.0         Country        9.0
2          3.0   1752.0     0.0           Blues        3.0
13        14.0   1499.0     0.0        Soul-RnB       14.0
5          6.0    914.0    38.0         Novelty       38.0
21        22.0    774.0    38.0   Audio Collage       38.0
38        49.0    753.0    17.0       Free-Folk       17.0
12        13.0    730.0     0.0  Easy Listening       13.0
10        11.0    367.0    14.0           Disco       14.0
15        16.0    304.0     6.0   Sound Effects       38.0
1235       NaN      NaN     NaN             NaN        NaN

In [11]:
genres.sort_values('#tracks').head(10)

     genre_id  #tracks  parent                     title  top_level
84        175        0      86                 Bollywood          2
87        178        0       4                    Be-Bop          4
119       377        1      19                 Deep Funk         14
82        173        4      86     N. Indian Traditional          2
135       493        4     651             Western Swing          9
118       374        9      20                    Banter         20
154       808       12      46                     Salsa          2
83        174       17      86  South Indian Traditional          2
132       465       18      20           Musical Theater         20
85        176       23       2                   Pacific          2